USE [master]
GO
/****** Object:  Database [PersonalInfoDB]    Script Date: 3/12/2026 1:10:08 AM ******/
CREATE DATABASE [PersonalInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonalInfoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonalInfoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonalInfoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonalInfoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalInfoDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/12/2026 1:10:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalInfos]    Script Date: 3/12/2026 1:10:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Nationality] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PersonalInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260311173249_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[PersonalInfos] ON 

INSERT [dbo].[PersonalInfos] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [Address], [Nationality], [CreatedDate]) VALUES (1, N'User1', N'Test', N'user1@gmail.com', N'01700008741', CAST(N'2001-03-11T23:33:29.4914241' AS DateTime2), N'Male', N'Dhaka', N'Bangladeshi', CAST(N'2026-03-11T23:33:29.4914956' AS DateTime2))
INSERT [dbo].[PersonalInfos] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [Address], [Nationality], [CreatedDate]) VALUES (2, N'User2', N'Test', N'user2@gmail.com', N'01700008509', CAST(N'1998-03-11T23:33:29.4915136' AS DateTime2), N'Male', N'Dhaka', N'Bangladeshi', CAST(N'2026-03-11T23:33:29.4915137' AS DateTime2))
INSERT [dbo].[PersonalInfos] ([Id], [FirstName], [LastName], [Email], [PhoneNumber], [DateOfBirth], [Gender], [Address], [Nationality], [CreatedDate]) VALUES (3, N'User3', N'Test', N'user3@gmail.com', N'01700007004', CAST(N'1992-03-11T23:33:29.4915224' AS DateTime2), N'Male', N'Dhaka', N'Bangladeshi', CAST(N'2026-03-11T23:33:29.4915226' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PersonalInfos] OFF
GO
USE [master]
GO
