@model PersonalInfoManageSystem.Models.PersonalInfo

@{
    ViewData["Title"] = "Edit Personal Info";
}

<div class="container mt-4">

    <h2 class="mb-4">Edit Personal Information</h2>

    <div class="card shadow">
        <div class="card-body">

            <form asp-action="Edit" method="post">

                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="DateOfBirth"></label>
                        <input asp-for="DateOfBirth" type="date" class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="">Select Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label asp-for="Address"></label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Nationality"></label>
                        <input asp-for="Nationality" class="form-control" />
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>

            </form>

        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

}